@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

html {
  --dark1: #000;
  --dark2: #011f26;
  --light1: #ffffff;
  --light2: #ffa836;
  background-color: var(--dark2);
  color: var(--light1);
  font-size: 16px;
  font-family: "Source Sans Pro", "Montserrat", "Poppins", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.5rem;
}

header {
  height: 69px;
  background-color: var(--light1);
  color: var(--dark1);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

header div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#logo {
  height: 69px;
  display: flex;
  align-items: center;
  gap: 4px;
}

#logo-image {
  height: 65px;
  width: auto;
  margin-bottom: 0px;
}

#logo-caption {
  font-weight: 800px;
  font-size: 2rem;
  font-family: "Open Sans";
}

nav {
  width: 25%;
  min-width: 350px;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-in-start: 0px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: var(--dark1);
}

nav ul li a:hover {
  text-decoration: underline;
}

#menu-icon {
  display: none;
}

section {
  margin: 0 auto;
  padding: 4rem 0;
  min-height: 100vh;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.full-width {
  width: 1200px;
  margin: 0px auto;
}

h2,
h4 {
  font-family: "Open Sans";
}

h2 {
  font-size: 3rem;
  letter-spacing: 0px;
  margin: 0.8rem 0;
}

h4 {
  font-size: 1.7rem;
}

article p {
  line-height: 2.5rem;
}

/* Our Mission */

#mission {
  margin-top: 4rem;
  background-color: var(--dark2);
  color: var(--light1);
}

.trial-button {
  background-color: var(--light2);
  padding: 10px 30px;
  margin-top: 50px;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  border-radius: 4px;
}

.trial-button:hover {
  transform: translate(4px, -4px);
  box-shadow: -7px 7px white;
}

.trial-button:active {
  background-color: yellow;
}

#mission div {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

#mission div img {
  width: 45%;
  height: auto;
  border-radius: 10px;
}

/* Products */

#products {
  background-color: var(--light1);
  color: var(--dark2);
}

#products div {
  display: flex;
  align-items: flex-start;
}

.gallery {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.book-banner {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 1.2rem;
  padding: 20px;
  color: var(--light1);
  border-radius: 10px;
}

.book-banner:hover {
  transform: translate(3px, -3px);
  box-shadow: -6px 6px black;
}

.title {
  margin-bottom: 20px;
}

#atomic-habit {
  background-color: darkslategrey;
}

#antifragile {
  background-color: var(--dark2);
}

#factfulness {
  background-color: var(--dark1);
}

#deathly-hollow {
  background-color: var(--light2);
  color: var(--dark2);
}
/* Teams */
#teams {
  background-color: var(--light2);
  color: var(--dark2);
}

.team-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.team-card {
  width: 23%;
  background-color: var(--dark2);
  color: var(--light1);
  text-align: start;
  border-radius: 10px;
}

.team-card img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.team-data {
  margin: 20px auto;
  text-align: center;
  padding: 0 10px;
}

/* Media Query */

@media only screen and (max-width: 1200px) {
  .full-width {
    width: 1010px;
  }
  
  #products div {
    flex-wrap: wrap;
  }

  #products div article {
    margin-bottom: 2.3rem;
  }

  .gallery {
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .book-banner {
    height: auto;
    width: 23%;
  }
}

@media only screen and (max-width: 1024px) {
  :root {
    font-size: 15px;
  }

  .full-width {
    width: 760px;
  }

  #mission div img {
    display: none;
  }

  .book-banner {
    width: 35%;
  }

  .team-cards {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .team-card {
    width: 30%;
  }
}

@media only screen and (max-width: 768px) {
  :root {
    font-size: 14px;
    text-align: center;
  }

  .full-width {
    width: 470px;
  }

  header div nav {
    display: none;
  }

  #menu-icon {
    display: block;
  }
  
    .book-banner {
    width: 45%;
  }

  .team-cards {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .team-card {
    width: 40%;
  }
}

@media only screen and (max-width: 480px) {
  :root {
    font-size: 12px;
  }

  h2 {
    font-size: 2.2rem;
  }

  h4 {
    font-size: 1.7rem;
  }

  .full-width {
    width: 366px;
  }
  header div nav {
    display: none;
  }

  #products div {
    flex-wrap: wrap;
  }

  #products div article {
    margin-bottom: 2.3rem;
  }

  .gallery {
    flex-direction: column;
    width: 100%;
  }

  .book-banner {
    height: auto;
    width: 60%;
  }

  .author,
  .rating {
    display: none;
  }

  .title {
    margin-bottom: 4px;
  }

  .team-cards {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .team-card {
    width: 60%;
  }

  .team-card img {
    display: none;
  }
}

/* Footer */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  background-color: var(--dark2);
}

.main-footer {
  padding: 70px 0;
  display: flex;
  justify-content: space-around;
}

.main-footer ul {
  list-style: none;
}

.main-footer h1 {
  font-size: 1.4rem;
  line-height: 117%;
  color: #ffffff;
  margin-bottom: 10px;
  font-weight: 500;
}

.main-footer h2 {
  font-size: 1.1rem;
  color: #ffffff;
  font-weight: 500;
}

.main-footer ul li a {
  color: #fff;
  text-decoration: none;
}

footer a {
  text-decoration: none;
  color: #ffffff;
}

.logoinfo p {
  color: orange;
  font-size: 17px;
  margin-top: 5px;
}

.contact-details {
  margin-top: 20px;
}

.contact-details li {
  list-style: none;
  margin: 10px 0;
  font-size: 1rem;
}

.contact-details li a {
  text-decoration: none;
  color: #f1f1f1;
}

.contact-details .fa {
  color: #f1f1f1;
  margin-right: 10px;
}

.sociallogos {
  padding: 20px 0;
}

.sociallogos .logobox a {
  padding: 0 10px;
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
}

.com ul li {
  padding: 5px 0;
}

#copyright {
  border-top: 1px solid #6eb981;
  font-size: 1rem;
  padding: 15px 5px;
  color: #ffffff;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .main-footer {
    text-align: left;
    padding: 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  .info {
    padding: 20px 0;
  }
}

@media (max-width: 480px) {
  .main-footer {
    text-align: center;
    grid-template-columns: 1fr;
  }
  .sociallogos {
    padding: 20px 0;
  }
  .com {
    padding: 20px 0;
  }
}
